@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,.footer{
    padding: 0.7% 3%;
}

.logo{
    font-weight: 700;
    font-size: 24px;
}

.logo,a,.info > div,.footer{
    color: white;
    font-family: Roboto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

.nav-list{
    display: flex;
    gap: 12px;
}

.website-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-description img{
    width: 600px;
    height: auto;
    align-self: center;
    margin-left: 8%;
}

.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sec-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    margin-top: 20px;
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: large;
    padding: 5px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px 0;
}

.container > div{
    flex: 1 0 0;
    padding: 10% 15%;
}

.random-info{
    background-color:#F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.random-title{
    font-family: Roboto;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 100px;
    height: 100px;
}

.quote{
    background-color: #E5E7EB;
}

.big-quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author{
    display: flex;
    justify-content: end;
    font-family: Roboto;
    font-size: 22px;
}

.text{
    font-size: 18px;
    font-family: Roboto;
}

.signup{
    background-color: #F9FAF8;
    display: flex;
}

.signup button{
    border: 1px solid #F9FAF8;
}

.signup-container{
    flex-grow: 1;
    background-color: #3882F6;
    border-radius: 4px;
    display: flex;
    padding: 5% 8%;
    gap: 20px;
    justify-content: space-between;
}

.signup-text,.call-text{
    color:#F9FAF8;
}

.call-text{
    font-size: 24px;
    font-weight: 700;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-text{
    font-size: 18px;
}